

  #home .home{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 680px;
}

#home .home .home-content{
  text-align: left;
  margin-left: 20px;
  width: 40%;
  
}

#home .home .home-content img {
  display: block;
  width: 100%;
}

#home .home .home-content h2{
    padding-top: 120px;
    font-family: 'Poppins', sans-serif;;
    color: #ffffff;
    font-size: 60px;
    line-height: 65px;
  }
  #home .home .home-content p{
    font-family: 'Poppins', sans-serif;;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0px 50px 0px;
    font-weight: 500;
  }
  #home .home .home-content a{
    font-family: 'Poppins', sans-serif;;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    border-color: #ed145b;
    background-color: #ed145b;
    padding: 15px 36px;
    transition: .3s;
    border-radius: 5px;

  }
  #home .home .home-content a:hover{
    background-color: #ed145c91;
    border-color: #ed145c91;
  }
 

  @media only screen and (max-width: 768px){
    #home .home .home-content h2{
        font-size: 40px;
        line-height: 50px;
    }
    #home .home .home-content p{
        font-size: 15px;
    }
    #home .home .home-content a{
        font-size: 12px;
    }
  }

@media only screen and (max-width: 460px){
  #home .home .home-content{
        width: 50%;
    }
}



/* slider spotify  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next, .swiper-button-prev{
color: #ed145b;
}

/* slider spotify  */

/* slider parties  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
/* slider parties  */



/* prelouder  */
.prelouder{
  position: fixed;
  background-color:rgb(238, 20, 20);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s ease;
  top: 0;
}

.preload-finish{
  opacity: 0;
  pointer-events: none;
}
.line{
  background-color: white;
  width: 7px;
  height: 40px;
  margin: 0px 5px;
  border: none;
  animation: size 0.8s infinite linear;
  border-radius: 20px;
}

.line-1{
  animation-delay: 0.60s;
}
.line-2{
  animation-delay: 0.30s;
}
.line-3{
  animation-delay: 0s;
  }
.line-4{
  animation-delay: 0.30s;
}
.line-5{
  animation-delay: 0.60s;
}

@keyframes size{
  0%{
      height: 40px;
  }
  25%{
      height: 60px;
  }
  50%{
      height: 90px;
  }
  75%{
      height: 60px;
  }
  100%{
      height: 40px;
  }
}