@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
/* html reset  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

ul, ol {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

.container {
  padding: 0 150px;
}

/* html reset  */
header {
  background-color: #ffffff;
}

header .navigation-bar .container {
  padding: 0 40px;
}

header .navigation-bar .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

header .navigation-bar .container .navbar .logo {
  width: 30%;
}

header .navigation-bar .container .navbar .logo h1 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #be0303;
  cursor: pointer;
}

header .navigation-bar .container .navbar nav .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item {
  cursor: pointer;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item:not(:last-child) {
  margin-right: 20px;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item a {
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #be0303;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .now {
  margin-left: 30px;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .now.playing .bar {
  display: inline-block;
  position: relative;
  margin-right: -3px;
  width: 2px;
  height: 1px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#790000), to(#be0303));
  background: linear-gradient(to bottom, #790000, #be0303);
  color: transparent;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 10px;
    margin-top: -40px;
  }
  50% {
    height: 5px;
    margin-top: -20px;
  }
  60% {
    height: 10px;
    margin-top: -30px;
  }
  80% {
    height: 20px;
    margin-top: -60px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}

@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 10px;
    margin-top: -40px;
  }
  50% {
    height: 5px;
    margin-top: -20px;
  }
  60% {
    height: 10px;
    margin-top: -30px;
  }
  80% {
    height: 20px;
    margin-top: -60px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n2 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n4 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n5 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n6 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n7 {
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .n8 {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .li1 {
  display: block;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .li2 {
  display: none;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .li3 {
  display: none;
}

header .navigation-bar .container .navbar nav .menu-list .menu-list-item .li4 {
  display: none;
}

header .navigation-bar .container .navbar nav .menu-list .i1:hover .li1 {
  display: block;
}

header .navigation-bar .container .navbar nav .menu-list .i2:hover .li2 {
  display: block;
}

header .navigation-bar .container .navbar nav .menu-list .i3:hover .li3 {
  display: block;
}

header .navigation-bar .container .navbar nav .menu-list .i4:hover .li4 {
  display: block;
}

header .navigation-bar .container .navbar .resp-bar {
  display: none;
}

header .navigation-bar .resp-menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  header .navigation-bar {
    position: relative;
  }
  header .navigation-bar .container .navbar nav {
    display: none;
  }
  header .navigation-bar .container .navbar .resp-bar {
    display: block;
  }
  header .navigation-bar .container .navbar .resp-bar i {
    color: #be0303;
    font-size: 30px;
  }
  header .navigation-bar .resp-menu {
    position: absolute;
    width: 70%;
    display: block;
    background-color: #ffffff;
    height: 100vh;
    top: -450px;
    left: -750px;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 999;
    padding: 28px;
  }
  header .navigation-bar .resp-menu h2 {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #be0303;
    text-align: center;
    font-size: 30px;
  }
  header .navigation-bar .resp-menu .resp-menu-list .resp-menu-list-item {
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #be0303;
    font-size: 20px;
    padding: 15px;
  }
  header .navigation-bar .resp-menu .resp-menu-list .resp-menu-list-item a {
    border-bottom: 0px solid #be0303;
    color: #be0303;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
  }
  header .navigation-bar .resp-menu-show {
    top: 0;
    left: 0;
  }
}

footer {
  margin-top: 150px;
  margin-bottom: 100px;
}

footer .footer .container .full-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer .container .full-footer .contact {
  text-align: left;
  width: 28%;
}

footer .footer .container .full-footer .contact h1 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #be0303;
  cursor: pointer;
  font-size: 30px;
}

footer .footer .container .full-footer .contact .contact-h {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #173261;
}

footer .footer .container .full-footer .contact .contact-list .contact-list-item {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  font-size: 16px;
}

footer .footer .container .full-footer .contact .contact-list .contact-list-item:not(:last-child) {
  margin-bottom: 10px;
}

footer .footer .container .full-footer .contact .contact-list .contact-list-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  font-family: "Raleway", sans-serif;
  color: #173261;
}

footer .footer .container .full-footer .welcome {
  text-align: center;
  width: 28%;
}

footer .footer .container .full-footer .welcome .welcome-h {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  font-family: "Raleway", sans-serif;
  color: #ed145b;
  font-family: "Poppins", sans-serif;
}

footer .footer .container .full-footer .welcome .welcome-list .welcome-list-item {
  margin-top: 10px;
}

footer .footer .container .full-footer .welcome .welcome-list .welcome-list-item a {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #173261;
}

footer .footer .container .full-footer .social {
  width: 28%;
  text-align: right;
  position: relative;
}

footer .footer .container .full-footer .social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}

footer .footer .container .full-footer .social .social-list .social-list-item a i {
  color: #ed145b;
  font-size: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer .container .full-footer .social .social-list .social-list-item a i:hover {
  color: #ed145c91;
}

footer .footer .container .full-footer .social .social-list .social-list-item:not(:last-child) {
  margin-right: 25px;
}

footer .footer .container .full-footer .social .cookie-list {
  margin-top: 70px;
}

footer .footer .container .full-footer .social .cookie-list .cookie-list-item a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #173261;
  font-size: 16px;
}

footer .footer .container .full-footer .social .cookie-list .cookie-list-item:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  footer .footer .container .full-footer .contact h1 {
    font-size: 25px;
  }
  footer .footer .container .full-footer .contact .contact-h {
    margin-top: 7px;
    font-size: 14px;
  }
  footer .footer .container .full-footer .contact .contact-list .contact-list-item {
    font-size: 15px;
  }
  footer .footer .container .full-footer .contact .contact-list .contact-list-item:not(:last-child) {
    margin-bottom: 7px;
  }
  footer .footer .container .full-footer .contact .contact-list .contact-list-item a {
    font-size: 15px;
  }
  footer .footer .container .full-footer .welcome .welcome-h {
    font-size: 16px;
  }
  footer .footer .container .full-footer .welcome .welcome-list .welcome-list-item {
    margin-top: 7px;
  }
  footer .footer .container .full-footer .welcome .welcome-list .welcome-list-item a {
    font-size: 15px;
  }
  footer .footer .container .full-footer .social .social-list .social-list-item a i {
    font-size: 18px;
  }
  footer .footer .container .full-footer .social .social-list .social-list-item:not(:last-child) {
    margin-right: 16px;
  }
  footer .footer .container .full-footer .social .cookie-list {
    margin-top: 65px;
  }
  footer .footer .container .full-footer .social .cookie-list .cookie-list-item a {
    font-size: 14px;
  }
  footer .footer .container .full-footer .social .cookie-list .cookie-list-item:not(:last-child) {
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 768px) {
  footer .footer .container {
    padding: 0 40px;
  }
  footer .footer .container .full-footer .contact {
    width: 100%;
    text-align: center;
  }
  footer .footer .container .full-footer .contact h1 {
    font-size: 30px;
  }
  footer .footer .container .full-footer .contact .contact-h {
    margin-top: 10px;
    font-size: 16px;
  }
  footer .footer .container .full-footer .contact .contact-list .contact-list-item {
    font-size: 16px;
  }
  footer .footer .container .full-footer .contact .contact-list .contact-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  footer .footer .container .full-footer .contact .contact-list .contact-list-item a {
    font-size: 16px;
  }
  footer .footer .container .full-footer .welcome {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  footer .footer .container .full-footer .welcome .welcome-h {
    font-size: 20px;
  }
  footer .footer .container .full-footer .welcome .welcome-list .welcome-list-item {
    margin-top: 10px;
  }
  footer .footer .container .full-footer .welcome .welcome-list .welcome-list-item a {
    font-size: 16px;
  }
  footer .footer .container .full-footer .social {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  footer .footer .container .full-footer .social .social-list {
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -95px;
  }
  footer .footer .container .full-footer .social .cookie-list .cookie-list-item a {
    font-size: 16px;
  }
  footer .footer .container .full-footer .social .cookie-list .cookie-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 460px) {
  footer .footer .container {
    padding: 0 20px;
  }
}

#full-admin {
  width: 100%;
}

#full-admin .full-admin .container {
  padding: 0 200px;
}

#full-admin .full-admin .container .box .special {
  width: 100%;
  background-color: #fff;
}

#full-admin .full-admin .container .box .special .special-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

#full-admin .full-admin .container .box .special .special-menu-list .special-menu-list-item {
  color: #be0303;
  font-size: 30px;
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 10px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .box .special .special-menu-list .special-menu-list-item:not(:last-child) {
  margin-right: 10px;
}

#full-admin .full-admin .container .box .special .special-menu-list .special-menu-list-item:hover {
  background-color: #be0303;
  color: #fff;
}

#full-admin .full-admin .container .box .special .special-menu-list .active {
  background-color: #be0303;
  background-color: #be0303;
  color: #fff;
}

#full-admin .full-admin .container .home-form {
  display: none;
}

#full-admin .full-admin .container .home-form .form .form-full .form-image {
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#full-admin .full-admin .container .home-form .form .form-full .form-image .label {
  width: 100%;
}

#full-admin .full-admin .container .home-form .form .form-full .form-image .label label {
  color: #173261;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .home-form .form .form-full .form-image .label input {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #173261;
  letter-spacing: 0em;
  outline: none;
  border: none;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#full-admin .full-admin .container .home-form .form .form-full .form-image .label input:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .home-form .form .form-full .form-image .label #home-img {
  position: absolute;
  top: 35px;
  width: 50%;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  opacity: 0;
  filter: alpha(opacity=0);
}

#full-admin .full-admin .container .home-form .form .form-full .form-image .label .abs {
  text-align: center;
  height: 50px;
  width: 35%;
  background-color: #ed145b;
  color: #ffffff;
  padding: 11px;
  position: absolute;
  right: 0;
  font-size: 20px;
}

#full-admin .full-admin .container .home-form .form .form-full .form-title {
  margin-bottom: 15px;
}

#full-admin .full-admin .container .home-form .form .form-full .form-title .label {
  width: 100%;
}

#full-admin .full-admin .container .home-form .form .form-full .form-title .label label {
  margin-bottom: 5px;
  color: #173261;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .home-form .form .form-full .form-title .label input {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #173261;
  letter-spacing: 0em;
  outline: none;
  border: none;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#full-admin .full-admin .container .home-form .form .form-full .form-title .label input:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .home-form .form .form-full .label {
  width: 100%;
}

#full-admin .full-admin .container .home-form .form .form-full .label label {
  margin-bottom: 5px;
  color: #173261;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .home-form .form .form-full .label textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
  resize: none;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #173261;
  outline: none;
  border: none;
  padding: 10px;
}

#full-admin .full-admin .container .home-form .form .form-full .label textarea:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .home-form .form .form-full .form-finish .add-btn {
  width: 30%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ed145b;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 8px 30px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  border: 2px solid #ed145b;
}

#full-admin .full-admin .container .home-form .form .form-full .form-finish .add-btn:hover {
  color: #ffffff;
  background-color: #ed145b;
}

#full-admin .full-admin .container .home-form .form .form-full .form-finish .delete-btn {
  margin-left: 10px;
  width: 30%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #3477f3;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 8px 30px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  border: 2px solid #3477f3;
}

#full-admin .full-admin .container .home-form .form .form-full .form-finish .delete-btn:hover {
  color: #ffffff;
  background-color: #3477f3;
}

#full-admin .full-admin .container .festival-form {
  display: none;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-title {
  margin-bottom: 15px;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-title .label {
  width: 100%;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-title .label label {
  margin-bottom: 5px;
  color: #173261;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-title .label input {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #173261;
  letter-spacing: 0em;
  outline: none;
  border: none;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-title .label input:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .festival-form .form .form-full .label {
  width: 100%;
}

#full-admin .full-admin .container .festival-form .form .form-full .label label {
  margin-bottom: 5px;
  color: #173261;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .festival-form .form .form-full .label textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
  resize: none;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #173261;
  outline: none;
  border: none;
  padding: 10px;
}

#full-admin .full-admin .container .festival-form .form .form-full .label textarea:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-dates {
  margin-bottom: 15px;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-dates .label {
  width: 100%;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-dates .label label {
  margin-bottom: 5px;
  color: #173261;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-dates .label input {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #173261;
  letter-spacing: 0em;
  outline: none;
  border: none;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-dates .label input:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-finish .add-btn-fest {
  width: 30%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ed145b;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 8px 30px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  border: 2px solid #ed145b;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-finish .add-btn-fest:hover {
  color: #ffffff;
  background-color: #ed145b;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-finish .delete-btn-fest {
  margin-left: 10px;
  width: 30%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #3477f3;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 8px 30px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  border: 2px solid #3477f3;
}

#full-admin .full-admin .container .festival-form .form .form-full .form-finish .delete-btn-fest:hover {
  color: #ffffff;
  background-color: #3477f3;
}

#full-admin .full-admin .container .news-form {
  display: none;
}

#full-admin .full-admin .container .news-form .form .form-full .form-image {
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#full-admin .full-admin .container .news-form .form .form-full .form-image .label {
  width: 100%;
}

#full-admin .full-admin .container .news-form .form .form-full .form-image .label label {
  color: #173261;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .news-form .form .form-full .form-image .label input {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #173261;
  letter-spacing: 0em;
  outline: none;
  border: none;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#full-admin .full-admin .container .news-form .form .form-full .form-image .label input:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .news-form .form .form-full .form-image .label #news-img {
  position: absolute;
  top: 35px;
  width: 50%;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  opacity: 0;
  filter: alpha(opacity=0);
}

#full-admin .full-admin .container .news-form .form .form-full .form-image .label .abs {
  text-align: center;
  height: 50px;
  width: 35%;
  background-color: #ed145b;
  color: #ffffff;
  padding: 11px;
  position: absolute;
  right: 0;
  font-size: 20px;
}

#full-admin .full-admin .container .news-form .form .form-full .form-title {
  margin-bottom: 15px;
}

#full-admin .full-admin .container .news-form .form .form-full .form-title .label {
  width: 100%;
}

#full-admin .full-admin .container .news-form .form .form-full .form-title .label label {
  margin-bottom: 5px;
  color: #173261;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .news-form .form .form-full .form-title .label input {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #173261;
  letter-spacing: 0em;
  outline: none;
  border: none;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#full-admin .full-admin .container .news-form .form .form-full .form-title .label input:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .news-form .form .form-full .label {
  width: 100%;
}

#full-admin .full-admin .container .news-form .form .form-full .label label {
  margin-bottom: 5px;
  color: #173261;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  font-family: "Raleway", sans-serif;
}

#full-admin .full-admin .container .news-form .form .form-full .label textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
  resize: none;
  -webkit-box-shadow: 0px 0px 20px 0px #17326133;
          box-shadow: 0px 0px 20px 0px #17326133;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #173261;
  outline: none;
  border: none;
  padding: 10px;
}

#full-admin .full-admin .container .news-form .form .form-full .label textarea:focus {
  border-bottom: 4px solid #ed145b;
}

#full-admin .full-admin .container .news-form .form .form-full .form-finish .add-btn {
  width: 30%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ed145b;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 8px 30px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  border: 2px solid #ed145b;
}

#full-admin .full-admin .container .news-form .form .form-full .form-finish .add-btn:hover {
  color: #ffffff;
  background-color: #ed145b;
}

#full-admin .full-admin .container .news-form .form .form-full .form-finish .delete-btn {
  margin-left: 10px;
  width: 30%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #3477f3;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 8px 30px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  border: 2px solid #3477f3;
}

#full-admin .full-admin .container .news-form .form .form-full .form-finish .delete-btn:hover {
  color: #ffffff;
  background-color: #3477f3;
}

#full-admin .full-admin .container .show {
  display: block;
}

@media only screen and (max-width: 992px) {
  #full-admin .full-admin .container {
    padding: 0 100px;
  }
  #full-admin .full-admin .container .box .special .special-menu-list .special-menu-list-item {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  #full-admin .full-admin .container {
    padding: 0 40px;
  }
  #full-admin .full-admin .container .box .special .special-menu-list .special-menu-list-item {
    font-size: 22px;
  }
  #full-admin .full-admin .container .home-form .form .form-full .form-title .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .home-form .form .form-full .form-title .label input {
    height: 40px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .home-form .form .form-full .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .home-form .form .form-full .label textarea {
    height: 120px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .home-form .form .form-full .form-finish button {
    font-size: 14px;
    padding: 6px 20px;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .form-title .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .form-title .label input {
    height: 40px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .label textarea {
    height: 120px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .form-dates .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .form-dates .label input {
    height: 40px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .form-finish button {
    font-size: 14px;
    padding: 6px 20px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .form-image .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .form-image .label input {
    height: 40px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .form-image .label .abs {
    height: 40px;
    font-size: 15px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .form-title .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .form-title .label input {
    height: 40px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .label textarea {
    height: 120px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .news-form .form .form-full .form-finish button {
    font-size: 14px;
    padding: 6px 20px;
  }
  #full-admin .full-admin .container .party-form .form .form-full .form-image .label label {
    font-size: 15px;
  }
  #full-admin .full-admin .container .party-form .form .form-full .form-image .label input {
    height: 40px;
    font-size: 14px;
  }
  #full-admin .full-admin .container .party-form .form .form-full .form-image .label .abs {
    height: 40px;
    font-size: 15px;
  }
  #full-admin .full-admin .container .party-form .form .form-full .form-finish button {
    font-size: 14px;
    padding: 6px 20px;
  }
}

@media only screen and (max-width: 460px) {
  #full-admin .full-admin .container {
    padding: 0 20px;
  }
  #full-admin .full-admin .container .box .special .special-menu-list .special-menu-list-item {
    font-size: 16px;
    padding: 6px;
  }
  #full-admin .full-admin .container .box .special .special-menu-list .special-menu-list-item:not(:last-child) {
    margin-right: 5px;
  }
  #full-admin .full-admin .container .home-form .form .form-full .form-finish button {
    padding: 6px 15px !important;
    font-size: 10px !important;
  }
  #full-admin .full-admin .container .festival-form .form .form-full .form-finish button {
    padding: 6px 15px !important;
    font-size: 10px !important;
  }
  #full-admin .full-admin .container .news-form .form .form-full .form-finish button {
    padding: 6px 15px !important;
    font-size: 10px !important;
  }
  #full-admin .full-admin .container .party-form .form .form-full .form-finish button {
    padding: 6px 15px !important;
    font-size: 10px !important;
  }
}
/*# sourceMappingURL=adminpanel.css.map */