@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import "../website/Assets/Style/all";


// full admin sass 
#full-admin{
    width: 100%;
    .full-admin{
        .container{
            padding: 0 200px;
            .box{
                .special{
                    width: 100%;
                    background-color: #fff;
                    .special-menu-list{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 50px;
                        margin-top: 30px;
                        .special-menu-list-item{
                            color: $logoTextColor;
                            font-size: 30px;
                            font-weight: 600;
                            transition: .5s;
                            padding: 10px;
                            cursor: pointer;
                            font-family: $fontral; 
                            &:not(:last-child){
                                margin-right: 10px;
                            }
                            &:hover{
                                background-color: $logoTextColor;
                                color: #fff;
                            }
                        }
                        .active{                                background-color: $logoTextColor;
                            background-color: $logoTextColor;
                            color: #fff;  
                        }
                    }
                }
                
            }
            // home form 
            .home-form{
                display: none;
                .form{
                    .form-full{
                        
                        .form-image{
                            margin-bottom: 15px;
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .label{
                                width: 100%;
                                    label{
                                        color: #173261;
                                        margin-bottom: 5px;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 24px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        display: block;
                                        font-family: $fontral;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        box-shadow: 0px 0px 20px 0px #17326133;
                                        font-family: $fontral;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: #173261;
                                        letter-spacing: 0em;
                                        outline: none;
                                        border: none;
                                        padding-left: 10px;
                                        transition: .3s;
                                        &:focus{
                                            border-bottom: 4px solid #ed145b;
                                        }
                                    }
                             #home-img{
                                position: absolute;
                                top: 35px;
                                width: 50%;
                                right: 0;
                                margin: 0;
                                padding: 0;
                                z-index: 10;
                                font-size: 20px;
                                cursor: pointer;
                                height: 36px;
                                opacity: 0;
                                filter: alpha(opacity=0);
                            }
                            .abs{
                                text-align: center;
                                height: 50px;
                                width: 35%;
                               background-color: #ed145b;
                               color: #ffffff;
                               padding: 11px;
                               position: absolute;
                               right: 0;
                               font-size: 20px;
                            }       
                            }
                            
                        }
                        .form-title{
                            margin-bottom: 15px;
                            .label{
                                width: 100%;
                                    label{
                                        margin-bottom: 5px;
                                        color: #173261;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 24px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        font-family: $fontral;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        box-shadow: 0px 0px 20px 0px #17326133;
                                        font-family: $fontral;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: #173261;
                                        letter-spacing: 0em;
                                        outline: none;
                                        border: none;
                                        padding-left: 10px;
                                        transition: .3s;
                                        &:focus{
                                            border-bottom: 4px solid #ed145b;
                                        }
                                    }
                            }
                            
                        }
                        .label{
                            width: 100%;
                                label{
                                    margin-bottom: 5px;
                                    color: #173261;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    display: block;
                                    font-family: $fontral;
                                }
                        textarea{
                            width: 100%;
                            height: 140px;
                            margin-bottom: 15px;
                            resize: none;
                            box-shadow: 0px 0px 20px 0px #17326133;
                            font-family: $fontral;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            color: #173261;
                            outline: none;
                            border: none;
                            padding: 10px;
                            &:focus{
                                border-bottom: 4px solid #ed145b;
                            }
                        }
                    }
                        .form-finish{
                            .add-btn{
                                width: 30%;
                                cursor: pointer;
                                font-family: $fontral;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #ed145b;
                                background-color: #ffffff;
                                text-transform: uppercase;
                                padding: 8px 30px;
                                transition: .3s;
                                border-radius: 5px;
                                border: 2px solid #ed145b;
                                &:hover{
                                    color: #ffffff;
                                    background-color: #ed145b;
                                }
                            }
                            .delete-btn{
                                margin-left: 10px;
                                width: 30%;
                                cursor: pointer;
                                font-family: $fontral;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #3477f3;
                                background-color: #ffffff;
                                text-transform: uppercase;
                                padding: 8px 30px;
                                transition: .3s;
                                border-radius: 5px;
                                border: 2px solid #3477f3;
                                &:hover{
                                    color: #ffffff;
                                    background-color: #3477f3;
                                }
                            }
                        }
                    }
                }
            }
            // home form 

            // festival form 
            .festival-form{
                display: none;
                .form{
                    .form-full{
                        .form-title{
                            margin-bottom: 15px;
                            .label{
                                width: 100%;
                                    label{
                                        margin-bottom: 5px;
                                        color: #173261;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 24px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        font-family: $fontral;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        box-shadow: 0px 0px 20px 0px #17326133;
                                        font-family: $fontral;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: #173261;
                                        letter-spacing: 0em;
                                        outline: none;
                                        border: none;
                                        padding-left: 10px;
                                        transition: .3s;
                                        &:focus{
                                            border-bottom: 4px solid #ed145b;
                                        }
                                    }
                            }
                            
                        }
                        .label{
                            width: 100%;
                                label{
                                    margin-bottom: 5px;
                                    color: #173261;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    display: block;
                                    font-family: $fontral;
                                }
                        textarea{
                            width: 100%;
                            height: 140px;
                            margin-bottom: 15px;
                            resize: none;
                            box-shadow: 0px 0px 20px 0px #17326133;
                            font-family: $fontral;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            color: #173261;
                            outline: none;
                            border: none;
                            padding: 10px;
                            &:focus{
                                border-bottom: 4px solid #ed145b;
                            }
                        }
                        }
                        .form-dates{
                            margin-bottom: 15px;
                            .label{
                                width: 100%;
                                    label{
                                        margin-bottom: 5px;
                                        color: #173261;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 24px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        font-family: $fontral;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        box-shadow: 0px 0px 20px 0px #17326133;
                                        font-family: $fontral;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: #173261;
                                        letter-spacing: 0em;
                                        outline: none;
                                        border: none;
                                        padding-left: 10px;
                                        transition: .3s;
                                        &:focus{
                                            border-bottom: 4px solid #ed145b;
                                        }
                                    }
                            }
                        }
                        .form-finish{
                            .add-btn-fest{
                                width: 30%;
                                cursor: pointer;
                                font-family: $fontral;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #ed145b;
                                background-color: #ffffff;
                                text-transform: uppercase;
                                padding: 8px 30px;
                                transition: .3s;
                                border-radius: 5px;
                                border: 2px solid #ed145b;
                                &:hover{
                                    color: #ffffff;
                                    background-color: #ed145b;
                                }
                            }
                            .delete-btn-fest{
                                margin-left: 10px;
                                width: 30%;
                                cursor: pointer;
                                font-family: $fontral;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #3477f3;
                                background-color: #ffffff;
                                text-transform: uppercase;
                                padding: 8px 30px;
                                transition: .3s;
                                border-radius: 5px;
                                border: 2px solid #3477f3;
                                &:hover{
                                    color: #ffffff;
                                    background-color: #3477f3;
                                }
                            }
                        }
                    }
                }
            }
            // festival form 

            // news form 
            .news-form{
                display: none;
                .form{
                    .form-full{
                        .form-image{
                            margin-bottom: 15px;
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .label{
                                width: 100%;
                                    label{
                                        color: #173261;
                                        margin-bottom: 5px;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 24px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        display: block;
                                        font-family: $fontral;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        box-shadow: 0px 0px 20px 0px #17326133;
                                        font-family: $fontral;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: #173261;
                                        letter-spacing: 0em;
                                        outline: none;
                                        border: none;
                                        padding-left: 10px;
                                        transition: .3s;
                                        &:focus{
                                            border-bottom: 4px solid #ed145b;
                                        }
                                    }
                             #news-img{
                                position: absolute;
                                top: 35px;
                                width: 50%;
                                right: 0;
                                margin: 0;
                                padding: 0;
                                z-index: 10;
                                font-size: 20px;
                                cursor: pointer;
                                height: 36px;
                                opacity: 0;
                                filter: alpha(opacity=0);
                            }
                            .abs{
                                text-align: center;
                                height: 50px;
                                width: 35%;
                               background-color: #ed145b;
                               color: #ffffff;
                               padding: 11px;
                               position: absolute;
                               right: 0;
                               font-size: 20px;
                            }       
                            }
                            
                        }
                        .form-title{
                            margin-bottom: 15px;
                            .label{
                                width: 100%;
                                    label{
                                        margin-bottom: 5px;
                                        color: #173261;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 24px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        font-family: $fontral;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        box-shadow: 0px 0px 20px 0px #17326133;
                                        font-family: $fontral;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: #173261;
                                        letter-spacing: 0em;
                                        outline: none;
                                        border: none;
                                        padding-left: 10px;
                                        transition: .3s;
                                        &:focus{
                                            border-bottom: 4px solid #ed145b;
                                        }
                                    }
                            }
                            
                        }
                        .label{
                            width: 100%;
                                label{
                                    margin-bottom: 5px;
                                    color: #173261;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    display: block;
                                    font-family: $fontral;
                                }
                        textarea{
                            width: 100%;
                            height: 140px;
                            margin-bottom: 15px;
                            resize: none;
                            box-shadow: 0px 0px 20px 0px #17326133;
                            font-family: $fontral;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            color: #173261;
                            outline: none;
                            border: none;
                            padding: 10px;
                            &:focus{
                                border-bottom: 4px solid #ed145b;
                            }
                        }
                    }
                        .form-finish{
                            .add-btn{
                                width: 30%;
                                cursor: pointer;
                                font-family: $fontral;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #ed145b;
                                background-color: #ffffff;
                                text-transform: uppercase;
                                padding: 8px 30px;
                                transition: .3s;
                                border-radius: 5px;
                                border: 2px solid #ed145b;
                                &:hover{
                                    color: #ffffff;
                                    background-color: #ed145b;
                                }
                            }
                            .delete-btn{
                                margin-left: 10px;
                                width: 30%;
                                cursor: pointer;
                                font-family: $fontral;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #3477f3;
                                background-color: #ffffff;
                                text-transform: uppercase;
                                padding: 8px 30px;
                                transition: .3s;
                                border-radius: 5px;
                                border: 2px solid #3477f3;
                                &:hover{
                                    color: #ffffff;
                                    background-color: #3477f3;
                                }
                            }
                        }
                    }
                }
            }
            // news form 

            .show{
                display: block;
            }
        }
    }
}
// full admin sass 

@media only screen and (max-width:992px){
    #full-admin{
        .full-admin{
            .container{
                padding: 0 100px;
                .box{
                    .special{
                        .special-menu-list{
                            .special-menu-list-item{
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:768px){
    #full-admin{
        .full-admin{
            .container{
                padding: 0 40px;
                .box{
                    .special{
                        .special-menu-list{
                            .special-menu-list-item{
                                font-size: 22px;
                            }
                        }
                    }
                }
            // home form 
                .home-form{
                    .form{
                        .form-full{
                            .form-title{
                                .label{
                                        label{
                                            font-size: 15px;
                                        }
                                        input{
                                            height: 40px;
                                            font-size: 14px;
                                        }
                                }
                                
                            }
                            .label{
                                    label{
                                        font-size: 15px;
                                    }
                            textarea{
                                height: 120px;
                                font-size: 14px;
                            }
                        }
                            .form-finish{
                                button{
                                    font-size: 14px;
                                    padding: 6px 20px;
                                }
                            }
                        }
                    }
                }
            // home form 

            // festival form 
            .festival-form{
                .form{
                    .form-full{
                        .form-title{
                            .label{
                                    label{
                                        font-size: 15px;
                                    }
                                    input{
                                        height: 40px;
                                        font-size: 14px;
                                    }
                            }
                            
                        }
                        .label{
                                label{
                                    font-size: 15px;
                                }
                        textarea{
                            height: 120px;
                            font-size: 14px;
                        }
                        }
                        .form-dates{
                            .label{
                                label{
                                    font-size: 15px;
                                }
                                input{
                                    height: 40px;
                                    font-size: 14px;
                                }
                        }
                        }
                        .form-finish{
                            button{
                                font-size: 14px;
                                padding: 6px 20px;
                            }
                        }
                    }
                }
            }
            // festival form 

            // news form 
            .news-form{
                .form{
                    .form-full{
                        .form-image{
                            .label{
                                label{
                                    font-size: 15px;
                                }
                                input{
                                    height: 40px;
                                    font-size: 14px;
                                }
                                .abs{
                                    height: 40px;
                                    font-size: 15px;
                                }
                        }
                        }
                        .form-title{
                            .label{
                                    label{
                                        font-size: 15px;
                                    }
                                    input{
                                        height: 40px;
                                        font-size: 14px;
                                    }
                            }
                            
                        }
                        .label{
                                label{
                                    font-size: 15px;
                                }
                        textarea{
                            height: 120px;
                            font-size: 14px;
                        }
                    }
                        .form-finish{
                            button{
                                font-size: 14px;
                                padding: 6px 20px;
                            }
                        }
                    }
                }
            }
            // news form 

            // party form 
            .party-form{
                .form{
                    .form-full{
                        .form-image{
                            .label{
                                label{
                                    font-size: 15px;
                                }
                                input{
                                    height: 40px;
                                    font-size: 14px;
                                }
                                .abs{
                                    height: 40px;
                                    font-size: 15px;
                                }
                        }
                        }
                        .form-finish{
                            button{
                                font-size: 14px;
                                padding: 6px 20px;
                            }
                        }
                    }
                }}
            // party form
            }
        }
    }
}
@media only screen and (max-width:460px){
    #full-admin{
        .full-admin{
            .container{
                padding: 0 20px;
                .box{
                    .special{
                        .special-menu-list{
                            .special-menu-list-item{
                                font-size: 16px;
                                padding: 6px;
                                &:not(:last-child){
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
                // home form 
                    .home-form{
                        .form{
                            .form-full{
                                .form-finish{
                                    button{
                                        padding: 6px 15px!important;
                                        font-size: 10px!important;
                                    }
                                }
                            }
                        }
                    }
                // home form 
    
                // festival form 
                .festival-form{
                    .form{
                        .form-full{
                            .form-finish{
                                button{
                                    padding: 6px 15px!important;
                                    font-size: 10px!important;
                                }
                            }
                        }
                    }
                }
                // festival form 

                // news form
                .news-form{
                    .form{
                        .form-full{
                            .form-finish{
                                button{
                                    padding: 6px 15px!important;
                                    font-size: 10px!important;
                                }
                                
                            }
                        }
                    }
                } 
                // news form 

                // party form 
                .party-form{
                    .form{
                        .form-full{
                            .form-finish{
                                button{
                                    padding: 6px 15px!important;
                                    font-size: 10px!important;
                                }
                            }
                        }
                    }
                }
                // party form 
                
            }
        }
    }
}